.place__image {
  grid-area: image;
  max-width: 460px;
  width: 100%;
  object-fit: cover;
}


@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 926px) {
  .place__image {
    max-width: 380px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 620px) {
  .place__image {
    max-width: 250px;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    max-width: 320px;
  }
}
