.cover__subtitle {
  margin: 0;
  max-width: 360px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--white);
  text-decoration: none;
}

@media screen and (max-width: 450px) {
  .cover__subtitle {
    max-width: 320px;
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
