.header__nav {
  list-style: none;
  margin: 0;
  padding: 0 0 5px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  align-items: end;
  gap: 18px;
}

@media screen and (max-width: 320px) {
  .header__nav {
    padding: 0 0 3px 0;
  }
}
