.place__link {
  font-family: 'Inter',Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: var(--white);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.place__link:hover {
  opacity: .3;
  transition: opacity .5s ease;
  z-index: 1;
}
